<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 1 Answer</title>
    <link rel="stylesheet" href="style2.css"> <!-- Add a new CSS file for Tutorial page -->
</head>
<body>

    <!-- Tutorial content goes here -->
    <div id="mainSection">
        <h1>Answers</h1>

        <!-- "What is CodeBlocks?" Section -->
        <div id="codeBlockMeanings">
            <h2 class="small-heading">Expected Code:</h2>
            <p class="small-text">{{data['code']}}</p>
        </div>


    </div>
</body>
</html>