<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="style2.css"> <!-- Add a new CSS file for Tutorial page -->
</head>
<body>

    <!-- Tutorial content goes here -->
    <div id="mainSection">
        <h1>Tutorial</h1>

       <!-- "What is CodeBlocks?" Section -->
        <div id="whatIsCodeBlocks">
            <h2 class="small-heading">How to use CodeBlocks?</h2>
            <p class="small-text">Rearrange the blocks to build simple programs to solve as many questions as you can! </p>
        </div>

        <!-- "What is CodeBlocks?" Section -->
        <div id="codeBlockMeanings">
            <h2 class="small-heading">What do the CodeBlocks mean?</h2>
            <p class="small-text">Click on each icon to learn how the block can be used in your programs!</p>
        </div>


    </div>
</body>
</html>